.section-container {
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
    width: 98%;
    height: auto;
    box-sizing: border-box;
    
    .signin {
      
      .box {
        padding: 150px;
        box-sizing: border-box;
        background: #341db8;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 25px 30px #888888;
                
        h2 {
          text-align: center;
          margin: 60px 0;
        }
        .signin-btn {
          width: 100%;
          color: #0a0a0a;
        }
      }
    }
  }